.dashboard {
    justify-content: center;
    align-items: center;
    height: 700px;
}

.main-box-with-green-background {
    background: #04838f;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 20px;
    height: 20px; 
    width: 20%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto; 
}

.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  margin-top: 10px;
  margin-bottom: 120px;
}


.ngx-chart-line{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 400px;
  height: 200px;
  margin-left: 30%;
  margin-right: 30%;
  width: 35%;
  margin-top: 20px; 
  margin-bottom: 140px;

}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; 
}

  .button {
    padding: 10px 20px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; 
    cursor: pointer;
    border-radius: 8px; 
    width: 150px;
    height: 40px;
  }
  
  .button:hover {
    background-color: white; 
    color: #4CAF50; 
    border: 2px solid #4CAF50; 
  }

  .text-error {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 40px;
  }
  
  @media (max-width: 480px) {
    .main-box-with-green-background {
      width: 40%;
  }
  .button-container {
    margin-top: 50px; 
  }
  
}