.center {
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; 
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
  display: flex;  
  justify-content: center; 
  align-items: center;  
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s; 
  cursor: pointer;
  border-radius: 8px; 
  width: 100px;
  height: 30px;
}

.button:hover {
  background-color: white; 
  color: #4CAF50; 
  border: 2px solid #4CAF50; 
}

  @media (max-width: 480px) {
    .center h2 {
      align-items: center;
  }

  
}