.tooltip{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    &__country {
      font-size: 18px;
      font-weight: normal;
      color: white;
    }
  
    &__medals {
      font-size: 15px;
      color: white;
    }
  }
  
  @media (max-width: 800px) {
    .tooltip {
      width: 75%;
      min-width: 75px;
      max-width: 75px;
      &__country {
        font-size: 14px;
      }
      &__medals {
        font-size: 13px;
      }
    }
  }
  