<ng-container *ngIf="generalInformation && generalInformation.length > 0; else hasNoData">
  <section class="dashboard">
    <section class="main-box-with-green-background">Medals per Country</section>
    <section class="flexbox-container">
        <app-tile-information *ngFor="let info of generalInformation"
                              [title]="info.title" [value]="info.value">
        </app-tile-information>
    </section>
    <section class="ngx-chart-pie">
      <ngx-charts-pie-chart
        [scheme]="colorScheme"     
        [results]="pieChartData"      
        [labels]="true"              
        [view]="view"                 
        [legend]="false"              
        [doughnut]="false"            
        [gradient]="false"            
        [animations]="true"      
        (select)="onSelect($event)"     
      >
        <ng-template #tooltipTemplate let-model="model">
          <app-pie-chart-tooltip [country]="model.name" [medals]="model.value"></app-pie-chart-tooltip>
        </ng-template>
      </ngx-charts-pie-chart>
    </section>
  </section>
</ng-container>

<ng-template #hasNoData>
  <p>No data available.</p>
</ng-template>
